{% extends 'base.html.twig' %}

{% block include 'Symfony\Component\HttpFoundation\header.html.twig' %}

{% block title %}Category{% endblock %}


{% block body %}
    {% block menu %}
        {% include 'header.html.twig' %}
    {% endblock %}

    <div id="layoutSidenav">
        {% block side_nav %}
            {% include 'sidenav.html.twig' %}
        {% endblock %}
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Category</h1>
                    <ol class="breadcrumb mb-4">

                    </ol>
                    <div class="card mb-4">
                        
                    </div>
                    <div style="height: 100vh"></div>
                    </div>
            </main>
        </div>
        {% block footer %}
            {% include 'footer.html.twig' %}
        {% endblock %}
    </div>

{% endblock %}
