{% extends 'base.html.twig' %}

{% block title %}Creation Article{% endblock %}

{% block body %}
    {% block menu %}
        {% include 'header.html.twig' %}
    {% endblock %}

        <div id="layoutSidenav">
            {% block side_nav %}
                {% include 'sidenav.html.twig' %}
            {% endblock %}
            
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1> Creation Article </h1>

                        <div class="card mb-4">
                            <div class="card-body">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            
                                {{ form_start(form) }}
                                    {{ form_widget(form) }}
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                {{ form_end(form) }}
                            
                            {% else %}
                                <div>
                                    CETTE PAGE EST RESERVE AUX GENS CONNECTER
                                </div>
                            {% endif %}
                            </div>
                        </div>
                        <div style="height: 100vh"></div>
                    </div>
                </main>

                {% block footer %}
                    {% include 'footer.html.twig' %}
                {% endblock %}
            </div>
        </div>

{% endblock %}
